<!-- main-admin-brand.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Orders</h4>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User Name</th>
                <th>shipping address</th>
                <th>Order deliver date</th>
                <!-- <th>Order Details</th> -->
                <th>Order Status</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let order of orders"  class="brandDiv">
               <td></td>
                <td>{{order.shippingAddress}}</td>
                <td>{{order.deliverDate | date:'fullDate'}}</td>
                <!-- <td>
                  <div class="px-4 py-2 d-flex align-orders-center my-2" *ngFor="let orderItem of order.items">
                    <div class="itemsimgdiv"><img [src]="orderItem.product.image"></div>
                    <div class="d-flex justify-content-between w-100 p-4">
                        <div>{{orderItem.product.name}}</div>
                        <div>Qty: {{orderItem.itemQuantitem}}</div>
                    </div>
                </div>
                </td> -->
                <td>
                  <select class="form-select" [ngClass]="{
                    'status-pending': order.status === 'PendingPayment',
                    'status-cancelled': order.status === 'Cancelled',
                    'status-pending-delivery': order.status === 'Pending',
                    'status-delivered': order.status === 'Deliverd'
                  }" [(ngModel)]="order.status" (change)="updateOrderStatus(order.id, order.status)">
                    <option *ngFor="let status of orderStatusOptions" [value]="status">{{ status }}</option>
                  </select>
                </td>
                <td><b>{{order.total | currency}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
