<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Recent Orders</h4>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Shipping Address</th>
                <th>Order Deliver Date</th>
                <th>Order Status</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders" class="brandDiv">
                <td>{{order.userName}}</td>
                <td>{{order.shippingAddress}}</td>
                <td>{{order.deliverDate | date:'fullDate'}}</td>
                <td>
                  <select [disabled]="order.status === 'Cancelled' || order.status === 'Delivered'" class="form-select"
                  [(ngModel)]="order.status"
                  (change)="updateOrderStatus(order.id, order.status)"
                          [ngClass]="{
                            'status-cancelled': order.status === 'Cancelled',
                            'status-PendingPayment': order.status === 'PendingPayment',
                            'status-pending-delivery': order.status === 'Pending',
                            'status-delivered': order.status === 'Delivered'}">
                    <option *ngFor="let status of orderStatusOptions" [value]="status">{{ status }}</option>
                  </select>
                </td>
                <td><b>{{order.total | currency}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
