<br>

<div class="fs-5 p-0 m-0">Versions</div>

<div>   
    <div *ngFor="let attribute of attributes">
        <div class="item.attributesReadDTO.id fs-6 mt-2 mb-1"> {{attribute.name}}</div>
        <div class="d-flex">
            <div *ngFor="let value of attribute.values">


                @if (isValueCurrent(value.id)) {

                    <button 
                        disabled
                        class="btn mx-1 btn-outline-dark" 
                        [class.btn-outline-secondar]="isValueCurrent(value.id)">
                        {{value.name}}
                    </button>
                    
                }@else {

                     <button 
                        (click)="ChangeVersion(value.id,attribute.id)"
                        [disabled]="!value.checked" 
                        class="btn mx-1 btn-light" 
                        [class.btn-outline-secondar]="isValueCurrent(value.id)">
                        {{value.name}}
                    </button> 
                }


            </div>
        </div>
    </div>
</div>