<div class="fs-5 p-0 m-0">Versions</div>

<div>
  <div *ngFor="let attribute of attributes">
    <div class="fs-6 mt-2 mb-1">{{ attribute.name }}</div>
    <div class="d-flex">
      <div *ngFor="let value of attribute.values">
        <button
          [class.d-none]="!isValueCurrent(value.id)"
          [disabled]="isValueCurrent(value.id)"
          class="btn mx-1 btn-outline-dark"
          [class.btn-outline-secondary]="isValueCurrent(value.id)">
          {{ value.name }}
        </button>
        <button
          (click)="changeVersion(value.id, attribute.id)"
          [class.d-none]="isValueCurrent(value.id)"
          [disabled]="isValueCurrent(value.id) || !checkValueForOtherVersions(value.id, attribute.id)"
          class="btn mx-1 btn-light">
          {{ value.name }}
        </button>
      </div>
    </div>
  </div>
</div>
