<nav *ngIf="TotalPages >0">
    <ul class="pagination justify-content-center">

        <li class="page-item disabled" [class.disabled]="page===1">
            <span style="cursor:pointer;" class="page-link" (click)="GotoPage(page-1)"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg></span>
        </li>

        <ng-container *ngFor="let item of createRange(TotalPages)">

            <ng-container *ngIf="item == page; else NotCurrentPage">
                <li class="page-item "><span style="cursor: default;"
                        class="page-link pagination-active">{{item}}</span></li>
            </ng-container>

            <ng-template #NotCurrentPage>
                <li class="page-item">
                    <a class="page-link pointer" style="cursor: pointer;" (click)="GotoPage(item)">{{item}}</a>
                </li>
            </ng-template>

        </ng-container>

        <li class="page-item">
            <a class="page-link" [class.disabled]="page===TotalPages" style="cursor: pointer;"
                (click)="GotoPage(page+1)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg></a>
        </li>

    </ul>
</nav>