<div (click)="scrollToTop()" style="cursor: pointer;" class="bg-secondary py-1 fw-bold text-center col-12 mt-5">
  <span>To Top</span>
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
    </svg>
  </span>
</div>
<div class="container-fluid maincolor text-light">
  <div class="row p-5">



  <div class="col-3">
    <div class="fs-5">Categories</div>
    <div *ngFor="let category of categroies">
      <div class="fs-6">{{category.name}}</div>
    </div>
  </div>


  <div class="col-3">
    <div class="fs-5">Brands</div>
    <div *ngFor="let brand of brands">
      <div class="fs-6">{{brand.name}}</div>
    </div>
  </div>

</div>
</div>
<div class="maincolor">
  <div class="text-center py-2 text-light">&copy; {{ currentYear }} ITI Project. All rights reserved.</div>
</div>