<br>
<div class="container-fluid">
  <h4 class="fs-5">Versions</h4>
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let attribute of attributes" class="mb-4 d-flex flex-wrap align-items-center">
        <ng-container *ngFor="let value of attribute.values">
          <div *ngIf="attribute.name === 'color'" class="color-circle me-2" [style.background-color]="value.name"></div>
          <div *ngIf="attribute.name !== 'color'" class="badge bg-secondary me-2">
            {{ value.name }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
