.review-container {
    background-color: rgba(234, 226, 226, 0.346);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
}

.review-image {
    width: 5rem;
    height: 5rem;
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Name {
    font-size: 1.1rem;
    font-weight: 600;
}

svg {
    color: rgb(238, 192, 40);
    margin-right: 0.1rem;
}

.Title {
    font-weight: 600;
}

.pinned svg {
    position: absolute;
    right: 2%;
    top: 10%;
}

.delete {
    color: rgb(163, 43, 43) !important;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.2rem;
    width: fit-content;
    }
    
.delete svg{
    color: wheat;
    width: 2rem;
    font-size: 5rem;
    height: 2rem;
} 