<div class="orders-container d-flex flex-wrap justify-content-center w-100">
  <div *ngFor="let order of orders" class="order-card my-3">
    <div class="card h-100">
      <div class="card-header">Order Details</div>
      <div class="card-body d-flex flex-column w-100">
        <!-- Order Information -->
        <div>
          <div><span class="text-muted">Order date: </span><span class="fw-bold">{{ order.shippingDate | date:'fullDate' }}</span></div>
          <div><span class="text-muted">Order deliver date: </span><span class="fw-bold">{{ order.deliverDate | date:'fullDate' }}</span></div>
          <div><span class="text-muted">Shipping address: </span><span class="fw-bold">{{ order.shippingAddress }}</span></div>
          <div><span class="text-muted">Order status: </span>
            <button class="btn" style="background-color: rgb(232, 231, 230);"
              [class.text-danger]="order.status === 'Cancelled'"
              [class.text-success]="order.status === 'Delivered'"
              [class.text-warning]="order.status === 'Pending'">{{ order.status }}</button>
          </div>
          <ng-container *ngIf="order.status === 'Pending'">
            <br><button class="btn bg-danger text-white" (click)="CancelOrders(order.id)">Cancel this order</button>
          </ng-container>
        </div>

        <hr>
        <h5 class="card-title">Order Items</h5>

        <!-- Order Items -->
        <div class="order-items flex-grow-1">
          <div class="d-flex align-items-center" *ngFor="let orderItem of order.items">
            <div class="items-img-div"><img [src]="orderItem.product.image" class="order-item-img"></div>
            <div class="d-flex justify-content-between w-100 p-4">
              <div>{{ orderItem.product.name }}</div>
              <div>Qty: {{ orderItem.itemQuantitem }}</div>
            </div>
          </div>
        </div>
        <hr />
        <p class="card-text fs-5 mt-auto">Total: {{ order.total | currency }}</p>
      </div>
    </div>
  </div>
</div>
