<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="md-4">
      <h2 class="text-center mb-4">Update Brand</h2>
    </div>
    <div class="col-md-6">
      <form [formGroup]="myForm" (ngSubmit)="confirmUpdateBrand()" class="row g-3 border rounded p-4 shadow-sm" enctype="multipart/form-data">
        <div class="notification d-flex align-items-center justify-content-center text-center w-100 col-md-6" *ngIf="notificationMessage">
          <i class="fas fa-exclamation-circle notification-icon"></i>
          <span class="notification-text">{{ notificationMessage }}</span>
        </div>
        <div class="col-12 text-center">
          <img [src]="brand.image" class="rounded-circle img-thumbnail mb-3" alt="Brand Image" style="width:150px; height: 150px;">
          <input type="file" id="image" formControlName="image" (change)="onFileSelected($event)" class="form-control" accept="image/*">
          <div class="form-text text-danger" *ngIf="myForm.get('image')?.invalid && (myForm.get('image')?.touched || myForm.get('image')?.dirty)">
            <div *ngIf="myForm.get('image')?.errors?.['required']">Brand image is required</div>
          </div>
        </div>
        <div class="col-12">
          <label for="name" class="form-label bold-label">Brand Name</label>
          <input type="text" formControlName="Name" id="name" class="form-control" placeholder="Enter brand name">
          <div class="form-text text-danger" *ngIf="myForm.get('Name')?.invalid && (myForm.get('Name')?.touched || myForm.get('Name')?.dirty)">
            <div *ngIf="myForm.get('Name')?.errors?.['required']">Brand name is required</div>
            <div *ngIf="myForm.get('Name')?.errors?.['minlength'] || myForm.get('Name')?.errors?.['maxlength']">Brand name must be between 2 and 150 characters</div>
          </div>
        </div>
        <div class="col-md-12 mb-3 text-center">
          <button class="btn btn-primary" type="submit" style="background-color: #198754; border-color: #198754;" [disabled]="!myForm.valid">Update Brand</button>
        </div>
      </form>
    </div>
  </div>
</div>
