<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="md-4">
      <h2 class="text-center mb-4">Add New Sub Category</h2>
    </div>
    <div class="col-md-6">
      <form [formGroup]="myForm" (ngSubmit)="AddImageAndSubCategory()" class="row g-3 border rounded p-4 shadow-sm" enctype="multipart/form-data">
        <!-- <div class="notification d-flex align-items-center justify-content-center text-center w-100 col-md-6" *ngIf="notificationMessage">
          <i class="fas fa-exclamation-circle notification-icon"></i>
         <span class="notification-text">{{ notifi }}</span> 
        </div> -->
        <div class="col-12">
          <div class="text-center mb-3">
            <label for="image" class="form-label bold-label">Sub Category Image</label>
            <input type="file" id="image" formControlName="image" (change)="onFileSelected($event)" class="form-control" accept="image/*">
            <div class="form-text text-danger" *ngIf="myForm.get('image')?.invalid && (myForm.get('image')?.touched || myForm.get('image')?.dirty)">
              <div *ngIf="myForm.get('image')?.errors?.['required']">Sub category image is required</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="name" class="form-label bold-label">Sub Category Name</label>
          <input type="text" formControlName="name" id="name" class="form-control" placeholder="Enter sub category name">
          <div class="form-text text-danger" *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.touched || myForm.get('name')?.dirty)">
            <div *ngIf="myForm.get('name')?.errors?.['required']">Sub category name is required</div>
            <div *ngIf="myForm.get('name')?.errors?.['minlength'] || myForm.get('name')?.errors?.['maxlength']">Sub category name must be between 2 and 150 characters</div>
          </div>
        </div>
        <div class="col-12">
          <label for="description" class="form-label bold-label">Sub Category Description</label>
          <textarea formControlName="description" id="description" class="form-control" rows="3" placeholder="Enter sub category description"></textarea>
          <div class="form-text text-danger" *ngIf="myForm.get('description')?.invalid && (myForm.get('description')?.touched || myForm.get('description')?.dirty)">
            <div *ngIf="myForm.get('description')?.errors?.['required']">Sub category description is required</div>
            <div *ngIf="myForm.get('description')?.errors?.['minlength'] || myForm.get('description')?.errors?.['maxlength']">Sub category description must be between 3 and 500 characters</div>
          </div>
        </div>
        <div class="col-12">
          <label for="categoryId" class="form-label bold-label">Category</label>
          <select formControlName="categoryId" id="categoryId" class="form-control">
            <option [value]="0">Select category</option>
            <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
          </select>
          <div class="form-text text-danger" *ngIf="myForm.get('categoryId')?.invalid && (myForm.get('categoryId')?.touched || myForm.get('categoryId')?.dirty)">
            <div *ngIf="myForm.get('categoryId')?.errors?.['required']">Category is required</div>
          </div>
        </div>
        <div class="col-md-12 mb-3 text-center">
          <button class="btn btn-primary" type="submit" style="background-color: #198754; border-color: #198754;" [disabled]="!myForm.valid">Add Sub Category</button>
        </div>
      </form>
    </div>
  </div>
</div>
