<h1 class="text-center mt-5">Add Sub Category Banner</h1>


<form (submit)="AddBanners()" formGroup="myForm" class="col-6 mx-auto">



    <label>product Id</label>
    <input formControlName="productId" class="form-control my-2" placeholder="product Id" type="number">
    <!-- Display error message if "required" validation fails -->
    <div [class.d-none]="!productError()?.['required']" class="text-danger">
        productId is required
    </div>

    <!-- Display error message if "minlength" or "maxlength" validation fails -->
    <div [class.d-none]="!productError()?.['min']|| !productError()"
    class="text-danger">
    productId must be more than 0
    </div>

    <!-- Display success message when the form is valid -->
    <div [class.d-none]="productError()" class="text-success">
        discount is valid
    </div>



    <label>subcategory Id</label>

    <select formControlName="subcategoryId">
        <option [value]="0">select sub category</option>
        <option [value]="subcategory.id" *ngFor="let subcategory of subcategories">{{subcategory.name}}</option>
    </select>

    <!-- Display error message if "required" validation fails -->
    <div [class.d-none]="!subcategoryError()" class="text-danger">
        subcategory is required
    </div>

    <!-- Display success message when the form is valid -->
    <div [class.d-none]="subcategoryError()" class="text-success">
        subcategory is valid
    </div>




    <input formControlName="imageURL" (change)="onFileSelected($event)" class="form-control my-2" placeholder="sub category image" type="file">

    <!-- Display error message if "required" validation fails -->
    <div [class.d-none]="!ImageError()?.['required']" class="text-danger">
        image is required
    </div>

    <!-- Display success message when the form is valid -->
    <div [class.d-none]="ImageError()" class="text-success">
        image is valid
    </div>


    <button [disabled]="!myForm.valid" type="submit" class="btn btn-success w-50 mx-auto mt-3">Add</button>
</form>
