<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Add Subcategory Banner</h2>
      <form (submit)="AddBanners()" [formGroup]="myForm" class="row g-3 border rounded p-4 shadow-sm" enctype="multipart/form-data">
        <div class="col-12">
          <div class="text-center mb-3">
            <label for="subcategoryId" class="form-label bold-label">Subcategory</label>
            <select formControlName="subcategoryId" id="subcategoryId" class="form-control">
              <option [value]="0">Select subcategory</option>
              <option [value]="subcategory.id" *ngFor="let subcategory of subcategories">{{subcategory.name}}</option>
            </select>
            <div class="form-text text-danger" *ngIf="myForm.get('subcategoryId')?.invalid && (myForm.get('subcategoryId')?.touched || myForm.get('subcategoryId')?.dirty)">
              <div *ngIf="myForm.get('subcategoryId')?.errors?.['required']">Subcategory is required</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label for="image" class="form-label bold-label">Subcategory Banner Image</label>
          <input type="file" formControlName="image" (change)="onFileSelected($event)" class="form-control" accept="image/*">
          <div class="form-text text-danger" *ngIf="myForm.get('image')?.invalid && (myForm.get('image')?.touched || myForm.get('image')?.dirty)">
            <div *ngIf="myForm.get('image')?.errors?.['required']">Image is required</div>
          </div>
        </div>
        <div class="col-md-12 mb-3 text-center">
          <button class="btn btn-success w-50 mx-auto mt-3" type="submit" [disabled]="!myForm.valid">Add Subcategory Banner</button>
        </div>
      </form>
    </div>
  </div>
</div>
