<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav role="navigation">
    <app-side-admin></app-side-admin>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="basic">
      <div fxLayoutAlign=" center">
      <button mat-icon-button (click)="sidenav.toggle()">
      </button>
      <i class="fa fa-strikethrough" aria-hidden="true"></i>
        <span style="font-size: larger; " class="px-4">Admin</span>
    </div>
      </mat-toolbar>
      <div class="cardBox">
        <div class="card">
          <div>
            <div class="numbers">{{ count }}</div>
            <div class="cardName">Daily Views</div>
          </div>

          <div class="iconBx">
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">5</div>
            <div class="cardName">Sales</div>
          </div>

          <div class="iconBx">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">20</div>
            <div class="cardName">Users</div>
          </div>

          <div class="iconBx">
            <i class="fa-sharp fa-solid fa-users"></i>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="numbers">${{totalSales}}</div>
            <div class="cardName">Earning</div>
          </div>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
