<div class="form-container">
    <div class="form-header">
        <span></span>
        <span></span>
        <span></span>
        </div>
        
    <form [formGroup]="loginForm" (submit)="onSubmit()" class="form-floating sign-form ">


      <div class="fs-3 text-center form-title">Login</div>
      <div>

          <div class="form-floating mb-3">
              <input [class.is-invalid]="EmailError()" type="email" class="form-control is-valid" id="floatingEmail"
                  formControlName="email" placeholder="email">
              <label for="floatingEmail">Email</label>
          </div>

          <div class="form-floating mb-3">
              <input [class.is-invalid]="PasswordError()" type="password" class="form-control is-valid"
                  id="floatingPassword" formControlName="password" placeholder="Password">
              <label for="floatingPassword">Password</label>
          </div>

      </div>
      <div>

          <div>New to Galaxy? <span routerLink="/auth/sign" class="spanColor">sign up</span></div>
          
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success rounded-pill py-2 mt-3 col-12">Login</button>
          </div>
  </form>
</div>