.nav-custom-style {
  font-family: 'Roboto', sans-serif; /* Update font family if needed */
  font-size: 1.25rem; /* Update font size to match Galaxy */
  color: #000; /* Update color if needed */
}

.cart-container {
  position: relative;
}
.nav-link:hover{
text-decoration: underline;
}
.cart-count ,.wishlist-count {
  background-color: rgb(223, 66, 66);
  position: absolute;
  top: 0;
  left: 75%;
  padding: 0.1rem 0.5rem;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
}

.wishlist-container {
  position: relative;
}

/* Additional styling for better navbar presentation */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2875, 75, 75, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand, .navbar-nav .nav-link {
  color: #555;
}

.navbar-nav .nav-link:hover {
  color: #333;
}

.navbar-nav .nav-item .dropdown-menu {
  background-color: #f8f9fa;
}
