
<app-subcategory-products-banner-slider [banners]="subcategory?.images"></app-subcategory-products-banner-slider>
<h1 class="text-center">{{subcategory?.subcategory?.name}}</h1>
<div class="text-center fs-6">{{subcategory?.subcategory?.description}}</div>

<div class="mb-2">
    <app-sort-product
    (changeSort)="OnSortChange($event)"
    (changeLimit)="OnLimitChange($event)"
    [sort]="sort"
    [limit]="limit">
</app-sort-product>
</div>

<app-product-item 
[products]="productsArray"
[productsTotalPages]="Totalpages">
</app-product-item> 


<app-pagination 
[TotalPages]="Totalpages"
 [page]="page"
 (NavigateTo)="OnPageChange($event)">
</app-pagination>
