.image-container {
    height: 20rem;
    width: 100%;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.buttons-container:hover {
    color: white !important;
}

.btn {
    
}
.clickedall{
    background-color: #17a2b8;
    color: white !important;
}
.clickedsu{
    background-color: #28a745;
    color: white !important;
}
.clickedpen{
    background-color: #ffc107;
    color: white !important;
}

.clickedcan{
    background-color: #dc3545;
    color: white !important;
}

.border-color-yellow {
    border: 0.1rem solid #ffc107;
}

.border-color-red {
    border: 0.1rem solid #dc3545;
}

.border-color-green {
    border: 0.1rem solid #28a745;
    
}

.border-color-all {
    border: 0.1rem solid #17a2b8;
    color: #17a2b8;
}


.border-color-yellow:hover {
    border: 0.1rem solid#ffc107;
    background-color: #ffc107 ;
    color: aliceblue !important;
}

.border-color-red:hover  {
    border: 0.1rem solid #dc3545;
    background-color:#dc3545 ;
    color: aliceblue !important;
}

.border-color-green:hover {
    border: 0.1rem solid #28a745;
    background-color: #28a745 ;
    color: aliceblue !important;
}

.border-color-all:hover {
    border: 0.1rem solid #17a2b8;
    background-color: #17a2b8 ;
    color: aliceblue !important;
}