.cover{
    height: 20rem;
}

.cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-photo{
    width: 10rem;
    height: 10rem;
    margin: -5rem auto 0 auto;
}

.profile-photo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.pfp::after {
    content: ""; /* Empty content to avoid displaying text */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua; /* Adjust background color as desired */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.2s ease-in-out; /* Add smooth transition for opacity change */
  }