<div>
    <input placeholder="search" type="text">
    <button routerLink="add/simple" class="btn btn-success">Add Simple Product</button>
    <button routerLink="add/var" class="btn btn-success">Add var Product</button>
</div>

<div class="container-fluid">
    <div class="row">

        <div *ngFor="let brand of products" class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="brand.image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{brand.name}}</h5>
              <div class="d-flex justify-content-evenly">

                  <button routerLink="update/{{brand.id}}" class="btn btn-warning col-5">Update</button>

                  <button [class.d-none]="brand.isDeleted" (click)="DeleteProduct(brand.id)" class="btn btn-danger col-5">Delete</button>
                  <!-- <button [class.d-none]="!brand.isDeleted" (click)="R etriveBrand(brand)" class="btn btn-success col-5">Retrive</button> -->

                </div>
            </div>
          </div>

    </div>
</div>