.notification {
  display: flex;
  background-color: #dc3545;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 19rem;
}

.notification-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.notification-text {
  font-size: 1rem;
}
textarea.ng-invalid.ng-touched,select.ng-invalid.ng-touched,input.ng-invalid.ng-touched
 {
    border: 1px solid red;
}
.form-text
{
color: red;
}
