<div class="container">
  <div class="navigation">
<ul>
  <li style="border-bottom: 3px solid #A9ACCF;">
    <a href="#">
      <span class="icon">
        <mat-icon></mat-icon>
      </span>
      <span class="title" style="font-weight: bolder;">Galaxy</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/brand" routerLinkActive="active">
      <span class="icon">
        <mat-icon>dashboard</mat-icon>
      </span>
      <span class="title">Brand</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/category" routerLinkActive="active">
      <span class="icon">
        <mat-icon>shopping_cart</mat-icon>
      </span>
      <span class="title">Categories</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/subcategory" routerLinkActive="active">
      <span class="icon">
        <mat-icon>category</mat-icon>
      </span>
      <span class="title">Sub Categories</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/group" routerLinkActive="active">
      <span class="icon">
        <mat-icon>group</mat-icon>
      </span>
      <span class="title">Variant Group</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/attribute" routerLinkActive="active">
      <span class="icon">
        <mat-icon>assignment</mat-icon>
      </span>
      <span class="title">Attribute</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/values" routerLinkActive="active">
      <span class="icon">
        <mat-icon>check_box</mat-icon>
      </span>
      <span class="title">Values</span>
    </a>
  </li>
  <li>
    <a routerLink="/admin/product" routerLinkActive="active">
      <span class="icon">
        <mat-icon>store</mat-icon>
      </span>
      <span class="title">Products</span>
    </a>
  </li>
  <li>
    <a routerLink="">
      <span class="icon">
        <mat-icon>settings</mat-icon>
      </span>
      <span class="title">Settings</span>
    </a>
  </li>
  <li (click)="logout()">
    <a href="#">
      <span class="icon">
        <mat-icon>logout</mat-icon>
      </span>
      <span class="title">Logout</span>
    </a>
  </li>
</ul>
</div>
</div>
