<form [formGroup]="PasswordForm" (submit)="confirmUpdateuser()" class="form-floating sign-form w-50 mx-auto mt-5">
    <div class="fs-3 text-center fw-bold form-title my-3">Change your password</div>
    <div *ngIf="notificationMessage" class="notification d-flex align-items-center justify-content-center text-center w-100">
      <i class="fas fa-exclamation-circle notification-icon"></i>
      <span class="notification-text">{{ notificationMessage }}</span>
    </div>
    <div>
      <div class="form-floating mb-3">
        <input [class.is-invalid]="OldError()" type="password" class="form-control is-valid" id="floatingOldPassword" formControlName="oldpassword" placeholder="Old Password">
        <label for="floatingOldPassword">Old Password</label>
      </div>
      <div class="form-floating mb-3">
        <input [class.is-invalid]="NewError()" type="password" class="form-control is-valid" id="floatingNewPassword" formControlName="newpassword" placeholder="New Password">
        <label for="floatingNewPassword">New Password</label>
      </div>
      <div class="row justify-content-center">
        <a class="btn btn-link col-2 mt-1 no-underline" (click)="Toggle()">previous</a>      </div>
      
    </div>
    <button [disabled]="!PasswordForm.valid" type="submit" class="btn btn-success rounded-pill py-2 mt-3 col-12">Change</button>
    <!-- <button (click)="navigateToUserSettings()" type="button" class="btn btn-link mt-3 col-12">Go to User Settings</button> -->
  </form>