
<form [formGroup]="PasswordForm" (submit)="confirmUpdateuser()" class="form-floating sign-form w-50 mx-auto mt-5">
  <div *ngIf="submissionError" class="alert alert-danger mb-4" role="alert">
    <i class="fas fa-exclamation-circle me-2"></i>
    Please fill out all the fields.
  </div>

  <!-- Success Notification -->
  <div *ngIf="submissionSuccess" class="alert alert-success mb-4" role="alert">
    <i class="fas fa-check-circle me-2"></i>
    Thank you for updating your password!
  </div>
  <div class="fs-3 text-center fw-bold form-title my-3">Change your password</div>

  <!-- Form Fields -->
  <div>
    <div class="form-floating mb-3">
      <input [class.is-invalid]="OldError()" type="password" class="form-control is-valid" id="floatingOldPassword" formControlName="oldpassword" placeholder="Old Password">
      <label for="floatingOldPassword">Old Password</label>
    </div>
    <div class="form-floating mb-3">
      <input [class.is-invalid]="NewError()" type="password" class="form-control is-valid" id="floatingNewPassword" formControlName="newpassword" placeholder="New Password">
      <label for="floatingNewPassword">New Password</label>
    </div>
    <div class="row justify-content-center">
      <a class="text-primary pointer mb-3" (click)="Toggle()">Back to Settings</a>
    </div>
  </div>

  <!-- Submit Button -->
  <button [disabled]="!PasswordForm.valid" type="submit" class="btn btn-success rounded-pill py-2 mt-3 col-12">Change</button>
</form>
