
<form [formGroup]="PasswordForm" (submit)="onSubmit()" class="form-floating sign-form w-50 mx-auto mt-5">

    <div class="fs-3 text-center fw-bold form-title my-2">Change your password</div>

    <div>

        <div class="form-floating mb-3">
            <input [class.is-invalid]="OldError()" type="password" class="form-control is-valid" id="floatingEmail"
                formControlName="oldpassword" placeholder="old password">
            <label for="floatingEmail">old password</label>
        </div>

        <div class="form-floating mb-3">
            <input [class.is-invalid]="NewError()" type="password" class="form-control is-valid"
                id="floatingPassword" formControlName="newpassword" placeholder="new password">
            <label for="floatingPassword">new password</label>
        </div>
    </div>


    <button [disabled]="!PasswordForm.valid" type="submit"
    class="btn btn-success rounded-pill py-2 mt-3 col-12">Change</button>

</form>
