<carousel>

    <slide style="height: 20rem !important;" class="banner-image">
      <span><img routerLink="/category/1" src="../../../../assets/images/Categories/Electorinic.png" ></span>
    </slide>

    <slide style="height: 20rem !important;" class="banner-image">
      <span><img routerLink="/category/3" src="../../../../assets/images/Categories/women.png" ></span>
    </slide>

    <slide style="height: 20rem !important;" class="banner-image">
      <span><img routerLink="/category/2" src="../../../../assets/images/Categories/men.png" ></span>
    </slide>

    <slide style="height: 20rem !important;" class="banner-image">
      <span><img routerLink="/category/4" src="../../../../assets/images/Categories/home.png" ></span>
    </slide>

    <slide style="height: 20rem !important;" class="banner-image">
      <span><img routerLink="/category/5" src="../../../../assets/images/Categories/supermarket.png" ></span>
    </slide>

    
</carousel>
  