<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="md-4">
      <h2 class="text-center mb-4">Add Simple Product</h2>
    </div>
    <div class="col-md-6">
      <form [formGroup]="myForm" (ngSubmit)="confirmAddProduct()" (submit)="AddImagesAndProduct()" class="row g-3 border rounded p-4 shadow-sm" enctype="multipart/form-data">
        <!-- Product Image -->
        <div class="col-6 mb-3">
          <label for="image" class="form-label bold-label">Product Image</label>
          <input type="file" id="image" formControlName="image" (change)="onFileSelected($event)" class="form-control">
          <div *ngIf="myForm.get('image')?.invalid && (myForm.get('image')?.touched || myForm.get('image')?.dirty)" class="form-text text-danger">
            <div *ngIf="myForm.get('image')?.errors?.['required']">Product image is required</div>
          </div>
        </div>

        <!-- Additional Product Images -->
        <div class="col-6 mb-3">
          <label for="productImages" class="form-label bold-label">Additional Product Images</label>
          <input type="file" id="productImages" formControlName="productImages" (change)="onFilesListSelected($event)" multiple class="form-control">
          <div *ngIf="myForm.get('productImages')?.invalid && (myForm.get('productImages')?.touched || myForm.get('productImages')?.dirty)" class="form-text text-danger">
            <div *ngIf="myForm.get('productImages')?.errors?.['required']">Additional product images are required</div>
          </div>
        </div>

        <!-- Product Name -->
        <div class="col-12 mb-3">
          <label for="name" class="form-label bold-label">Product Name</label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter product name">
          <div *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.touched || myForm.get('name')?.dirty)" class="form-text text-danger">
            <div *ngIf="myForm.get('name')?.errors?.['required']">Product name is required</div>
            <div *ngIf="myForm.get('name')?.errors?.['minlength'] || myForm.get('name')?.errors?.['maxlength']">Product name must be between 3 and 150 characters</div>
          </div>
        </div>

        <!-- Product Description -->
        <div class="col-12 mb-3">
          <label for="description" class="form-label bold-label">Product Description</label>
          <textarea id="description" formControlName="description" class="form-control" rows="3" placeholder="Enter product description"></textarea>
          <div *ngIf="myForm.get('description')?.invalid && (myForm.get('description')?.touched || myForm.get('description')?.dirty)" class="form-text text-danger">
            <div *ngIf="myForm.get('description')?.errors?.['required']">Description is required</div>
            <div *ngIf="myForm.get('description')?.errors?.['minlength'] || myForm.get('description')?.errors?.['maxlength']">Description must be between 3 and 500 characters</div>
          </div>
        </div>

        <!-- Sub Category -->
        <div class="col-6 mb-3">
          <label for="subCategoryId" class="form-label bold-label">Sub Category</label>
          <select id="subCategoryId" formControlName="subCategoryId" class="form-select">
            <option [value]="0">Select sub category</option>
            <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.name }}</option>
          </select>
          <div *ngIf="myForm.get('subCategoryId')?.invalid && (myForm.get('subCategoryId')?.touched || myForm.get('subCategoryId')?.dirty)" class="form-text text-danger">Sub category is required</div>
        </div>
   <!-- Brand -->
   <div class="col-6 mb-3">
    <label for="brandId" class="form-label bold-label">Brand</label>
    <select id="brandId" formControlName="brandId" class="form-select">
      <option [value]="0">Select brand</option>
      <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
    </select>
    <div *ngIf="myForm.get('brandId')?.invalid && (myForm.get('brandId')?.touched || myForm.get('brandId')?.dirty)" class="form-text text-danger">Brand is required</div>
  </div>
        <!-- Product Quantity -->
        <div class="col-4 mb-3">
          <label for="quantity" class="form-label bold-label">Quantity</label>
          <input type="number" id="quantity" formControlName="quantity" class="form-control">
          <div *ngIf="myForm.get('quantity')?.invalid && (myForm.get('quantity')?.touched || myForm.get('quantity')?.dirty)" class="form-text text-danger">
            <div *ngIf="myForm.get('quantity')?.errors?.['required']">Quantity is required</div>
            <div *ngIf="myForm.get('quantity')?.errors?.['min'] ||myForm.get('quantity')?.errors?.['max'] || myForm.get('quantity')?.errors?.['pattern']">Quantity must be a positive integer less than 30</div>
          </div>
        </div>

        <!-- Product Price -->
        <div class="col-4 mb-3">
          <label for="price" class="form-label bold-label">Price</label>
          <input type="number" id="price" formControlName="price" class="form-control">
        </div>

        <!-- Product Discount -->
        <div class="col-4 mb-3">
          <label for="discount" class="form-label bold-label">Discount</label>
          <input type="number" id="discount" formControlName="discount" class="form-control">
        </div>



        <!-- Submit Button -->
        <div class="col-md-12 mb-3 text-center">
          <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Add Product</button>
        </div>

      </form>
    </div>
  </div>
</div>
