
  <div class="container">
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="panel">
          <div class="panel-heading bg-primary text-white">
            <div class="row">
              <div class="col-12 col-sm-6">
                <h4 class="title">Recent subCategories</h4>
              </div>
              <div class="col-12 col-sm-6 text-right">
                <button routerLink="add" class="btn btn-success me-2">
                  <i class="bi bi-plus-lg"></i> Add New subCategory
                </button>
                <button routerLink="addbanner" class="btn btn-success me-1">
                  <i class="bi bi-plus-lg"></i> Add subCategory Banner
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subcategory of subcategories" class="categoryDiv">
                  <td>
                    <div class="image-container">
                      <img class="card-img product-image" [src]="subcategory.image" [alt]="subcategory.name">
                    </div>
                  </td>
                  <td><b>{{ subcategory.name }}</b></td>
                  <td>
                    <div class="action-buttons">
                      <button routerLink="update/{{subcategory.id}}" class="btn btn-warning px-3" title="Update Category">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
                      <button [class.d-none]="subcategory.isDeleted" (click)="DeleteSubcategory(subcategory)" class="btn btn-danger px-3" title="Delete subcategory">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                      <button [class.d-none]="!subcategory.isDeleted" (click)="RetriveSubCategory(subcategory)" class="btn btn-success px-3" title="Retrieve subcategory">
                        <i class="bi bi-recycle"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
