<div>
    <input placeholder="search" type="text">
    <button routerLink="add" class="btn btn-success">Add Sub Category</button>
    <button routerLink="addbanner" class="btn btn-success">Add sub Category banner</button>

</div>

<div class="container-fluid">
    <div class="row">

        <div *ngFor="let subcategory of subcategories" class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="subcategory.image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{subcategory.name}}</h5>
              <div class="d-flex justify-content-evenly">

                  <button routerLink="update/{{subcategory.id}}" class="btn btn-warning col-5">Update</button>

                  <button [class.d-none]="subcategory.isDeleted" (click)="DeleteSubcategory(subcategory)" class="btn btn-danger col-5">Delete</button>
                  <button [class.d-none]="!subcategory.isDeleted" (click)="RetriveSubCategory(subcategory)" class="btn btn-success col-5">Retrive</button>

                </div>
            </div>
          </div>

    </div>
</div>