  
  <div id="custom-slider" class="carousel slide" >
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item" *ngFor="let chunk of chunks(subcategories, itemsPerSlide); let i = index" [ngClass]="{ 'active': i === 0 }">
        <div class="row my-3">

          <div class="col d-flex justify-content-center" *ngFor="let subcategory of chunk">
            <div class="item object-fit border-0" >
              <div class="ImageHolder mx-auto">
                <img style="cursor:pointer;" class="p-2" [routerLink]="'/subcategory/'+subcategory.id" [src]="subcategory.image" [alt]="subcategory.name">
              </div>
              <div class="categoryTitle text-white text-center  mx-auto" [routerLink]="'/subcategory/'+subcategory.id"style="cursor:pointer;">{{subcategory.name}}</div>

        </div>
      </div>
    </div>



    <button class="carousel-control-prev btnslidercusotm my-auto" type="button" data-bs-target="#custom-slider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btnslidercusotm my-auto" type="button" data-bs-target="#custom-slider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>