<div style="cursor: pointer;" class="btn btn-dark" routerLink="/profile" title="Back to Profile">
    <i class="bi bi-arrow-left me-2"></i>
  </div>
  <form [class.d-none]="FormVisability()" [formGroup]="UpdateForm" (submit)="confirmUpdateuser()" class="form-floating sign-form col-12 col-md-8 col-lg-6 mx-auto">
    <div class="fs-3 text-center fw-bold form-title">Update Your Info</div>
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-12">
        <div *ngIf="notificationMessage" 
        [ngClass]="{'notification': true, 'notification-cancelled': notificationMessage === 'it is cancelled'}" 
        class="text-center d-flex align-items-center justify-content-center text-center w-100">
     <i class="fas fa-exclamation-circle notification-icon"></i>
     <span class="notification-text text-center">{{ notificationMessage }}</span>
   </div>
   
        
        <div class="text-center">
          <div class="form-floating mb-3">
            <input [class.is-invalid]="FNameError()" type="text" class="form-control is-valid" id="floatingFirstname" formControlName="firstname" placeholder="First Name">
            <label for="floatingFirstname">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input [class.is-invalid]="LNameError()" type="text" class="form-control is-valid" id="floatingLastName" formControlName="lastname" placeholder="Last Name">
            <label for="floatingLastName">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input [class.is-invalid]="EmailError()" type="email" class="form-control is-valid" id="floatingEmail" formControlName="email" placeholder="Email">
            <label for="floatingEmail">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input [class.is-invalid]="AddressError()" type="text" class="form-control is-valid" id="floatingAddress" formControlName="address" placeholder="Address">
            <label for="floatingAddress">Address</label>
          </div>
        </div>
        <div class="text-center">
          <div class="text-primary pointer mb-3" (click)="ToggleFromFunc()">Change your password</div>
          <button [disabled]="!UpdateForm.valid" type="submit" class="btn btn-success rounded-pill py-2 mt-3 col-12">Update</button>
        </div>
      </div>
    </div>
  </form>
  <app-user-password-settings (ToggleForm)="ToggleFromMainFunc()" [class.d-none]="!FormVisability()"></app-user-password-settings>
  