<!-- main-admin-brand.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Recent Brands</h4>
            </div>
            <div class="col-12 col-sm-6 text-right">
              <div class="input-group d-inline-flex w-auto">
                <input placeholder="Search" type="text" class="form-control" value="Search">
              </div>
              <button routerLink="add" class="btn btn-success ml-2">
                <i class="bi bi-plus-lg"></i> Add New Brand
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let brand of brands" class="brandDiv">
                <td>
                  <div class="image-container">
                    <img class="card-img product-image" [src]="brand.image" [alt]="brand.name">
                  </div>
                </td>
                <td><b>{{ brand.name }}</b></td>
                <td>
                  <div class="action-buttons">
                    <button routerLink="update/{{brand.id}}" class="btn btn-warning px-3" title="Update Brand">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button [class.d-none]="brand.isDeleted" (click)="DeleteBrand(brand)" class="btn btn-danger px-3" title="Delete Brand">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <button [class.d-none]="!brand.isDeleted" (click)="RetriveBrand(brand)" class="btn btn-success px-3" title="Retrieve Brand">
                      <i class="bi bi-recycle"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
