
<app-image-slider></app-image-slider>
<app-category-slider></app-category-slider>
<div class="text-center fs-3">Trending Products</div>
<div class="mb-2">
    <app-sort-product
    (changeSort)="OnSortChange($event)"
    (changeLimit)="OnLimitChange($event)"
    [sort]="sort"
    [limit]="limit">
</app-sort-product>

</div>


<div class="container-fluid ">
    <app-product-item 
        [products]="productsArray"
        [productsTotalPages]="Totalpages">
    </app-product-item> 

    <app-pagination 
    [TotalPages]="Totalpages"
     [page]="page"
     (NavigateTo)="OnPageChange($event)" ></app-pagination>
</div>