.maincolor{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    background-image: linear-gradient(to right, #434343 0%, black 100%);

}

.header{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(to left, #5d5d5d 0%, #2e2e2e 100%);
    color: whitesmoke;
}