<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="panel">
        <div class="panel-heading bg-primary text-white">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h4 class="title">Recent Products</h4>
            </div>
            <div class="col-12 col-sm-6 text-right">
              <button routerLink="add/simple" class="btn btn-success mb-2 mb-sm-0 me-sm-2">
                <i class="bi bi-plus-lg"></i> Add Simple Product
              </button>
              <button routerLink="add/var" class="btn btn-success ms-sm-2">
                <i class="bi bi-plus-lg"></i> Add Var Product
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products" class="brandDiv">
                <td>
                  <div class="image-container">
                    <img class="card-img product-image" [src]="product.image" [alt]="product.name">
                  </div>
                </td>
                <td><b>{{ product.name }}</b></td>
                <td><b>{{ product.quantity }}</b></td>
                <td>
                  <div class="action-buttons">
                    <button routerLink="update/{{product.id}}" class="btn btn-warning px-3" title="Update product">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button [class.d-none]="isDeleted" (click)="DeleteProduct(product.id)" class="btn btn-danger px-3" title="Delete product">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <button [class.d-none]="!isDeleted" (click)="RetrieveProduct(product.id)" class="btn btn-success px-3" title="Retrieve product">
                      <i class="bi bi-recycle"></i>
                    </button>
                    <button class="btn btn-info" (click)="openProductDetailsDialog(product)" title="Details of product">
                      <i class="bi bi-info-circle-fill"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
