<div class="container-fluid">
  <div class="row view-container mt-3">

    <!-- Images Section -->
    <div class="col-12 col-lg-6 d-flex side p-1 flex-column-reverse flex-lg-row p-4">

      <div class="d-flex flex-lg-column side-images col-12 col-lg-2 px-1">

        <div class="slide-image-container m-1">
          <img (click)="SetMainImage(product.image)" [src]="product.image">
        </div>

        <div class="slide-image-container m-1" *ngFor="let item of product.productImages">
          <img (click)="SetMainImage(item.imageURL)" [src]="item.imageURL">
        </div>
      </div>

      <div class="col-10 mx-auto product-image">
        <img [src]="mainImage" />
      </div>

    </div>

    <!-- Details Section -->
    <div class="col-12 col-lg-6 side p-1">

      <div class="text-muted">{{ product.category.name }}</div>
      <div class="brand-image col-2 mt-2">
        <img [title]="product.brand.name" [src]="product.brand.image">
      </div>

      <h5>{{ product.name }}</h5>
      <div class="fs-6">{{ product.desctiption }}</div>


      <!-- Rating -->
      <div [class.d-none]="product.rate === 0" class="d-flex">
        <div class="me-2 fw-bold">{{ product.rate.toFixed(1) }}</div>
        <app-stars [Stars]="product.rate"></app-stars>
        </div>

      <app-product-price [product]="product"></app-product-price>
      <app-product-admin-versions
        [class.d-none]="product.versions.length === 0"
        [versions]="product.versions"
        [productId]="data.productId">
      </app-product-admin-versions>
    </div>
  </div>
</div>
