.cart-card-size-custom {
    max-height: 13rem;
    min-height: 13rem;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cart-card-size-custom img {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
  }
  
  .myorder{
    position: sticky;
    top: 4rem;
    position: -webkit-sticky; 
    position: sticky;
  }
  
  .bg-gridant {
    background-image: linear-gradient(76.3deg, rgba(44, 62, 78, 1) 12.6%, rgba(69, 103, 131, 1) 82.8%);
    background-color: #8BC6EC;
    background-color: #8EC5FC;
    background-image: radial-gradient(circle 732px at -23.9% -25.1%, rgba(30, 39, 107, 1) 6.1%, rgba(188, 104, 142, 1) 100.2%);
    background-image: linear-gradient(76.3deg, rgba(44, 62, 78, 1) 12.6%, rgba(69, 103, 131, 1) 82.8%);
    background-image: linear-gradient(126.3deg, rgba(30, 2, 83, 1) 32.2%, rgba(198, 55, 160, 0.46) 109.2%);
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    background-image: linear-gradient(250deg, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    background-image: linear-gradient(135deg, rgba(139, 186, 244, 1) 0, rgba(15, 51, 92, 1) 100%);
    background-image: linear-gradient(62deg, #44385c 0%, #463b4f 100%);
  }
  
  .cartimg img {
    width: 100%;
    object-fit: contain;
  }
  
  .DiscountText {
    font-size: 1.7rem;
    font-weight: 700;
    color: green;
  }
  